.footer {
  background-color: #131313;
  margin-top: 70px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.footer__link {
  color: white;
  text-decoration: underline;
  font-size: 12px;
  line-height: 15px;
}

.footer__social-link + .footer__social-link {
  margin-left: 25px;
}

.footer__contacts {
  color: white;
  font-size: 12px;
  line-height: 15px;
}

.footer__contacts-link {
  display: flex;
  align-items: center;
}

.footer__contacts-link + .footer__contacts-link {
  margin-top: 10px;
}

.footer__contacts-img {
  margin-right: 10px;
}

@media (max-width: 640px) {
  .footer__inner {
    display: block;
    height: auto;
    padding: 15px 0;
    text-align: center;
  }
  .footer__social {
    margin: 10px;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
