.info {
  margin-bottom: 150px;
}

.info__inner {
  display: flex;
}

.info__img {
  margin-right: 60px;
  flex-basis: 570px;
  object-fit: cover;
}

.info__list {
  flex-basis: 490px;
}

.info__item + .info__item {
  padding-top: 50px;
}

.info__item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.info__item-text {
  max-width: 450px;
}

@media (max-width: 1110px) {
  .info__img {
    display: none;
  }

  .info__list {
    flex-basis: 100%;
  }

  .info__item-text {
    max-width: 100%;
  }

  .info {
    padding-top: 25px;
    margin-bottom: 50px;
  }

  .info__item + .info__item {
    padding-top: 25px;
  }
}
