.slider-big-img .slick-dots {
  top: 0;
  left: 0;
}

.slider-big-img__item {
  padding-left: 50px;
}

@media (max-width: 991px) {
  .slider-big-img {
    max-height: 400px;
  }

  .slider-big-img__item {
    padding-left: 15px;
  }
}
